apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: opsera-chennai-flood-01-dev
  namespace: argocd
  labels:
    app: chennai-flood-01
    tenant: opsera
    environment: dev
    managed-by: opsera
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/opsera-test-org/chennai-flood-watch.git
    targetRevision: main
    path: .opsera-chennai-flood-01/k8s/overlays/dev
  destination:
    name: opsera-usw2-np
    namespace: opsera-chennai-flood-01-dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
